.course{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /*padding-top: 0px;*/
    width: 240px;
    padding: 5px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    
}


.course_img{
    width: 100%;
    object-fit: cover;
    margin: 0px;
    padding: 0px;
    border: 1px solid #bebdbd;
}

.course_description_text{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.course_figure_tag{
    margin: 0px;
    padding: 0px;
}

.instructor{
    font-family: Calibri;
    font-size: 0.9rem;
    font-weight: 400;
    color: rgb(120,120,120);
    margin-top: 3px;
    margin-bottom: 0px;
}

.stars_rating_bar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-top: 3px;
    margin-bottom: 0px;
    padding: 0px;
}
.stars_count{
    margin-top: 0px;
    margin-bottom: 0px;
    color: orange;
    margin-right: 2px;
}
.ratings_count{
    margin-top: 0px;
    margin-bottom: 0px;
    color: gray;
    margin-left: 2px;
}

.course_price{
    font-family: Calibri;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}

.bestseller_badge{
    background-color:  #eceb98;;
    width: 54px;
    padding-left: 5px;
    height: 20px;
    margin-top: 3px;
}

.bestseller_text{
    font-family: Calibri;
    color: #1c1d1f;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.8rem;
}
.pop_up_outer_container{
    margin-left: -60px;
}
@media screen and (max-width:700px) {
    .course_description_text{
        font-size: 0.9rem;
    }
    .course_price{
        font-size: 0.9rem;
        font-weight: 600;
    }
    .instructor{
        font-size: 0.8rem;
    }
}
.card_outer_container{
    display: flex;
    justify-content: flex-start;
}
.card_outer_container{
    margin-right:50px ;
}
@media screen and (max-width:400px) {
    .course{
        width: 90%;
    }
}
    
