.course_page_top_container{
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: #1c1d1f;
    box-shadow: 0 4px 2px -2px rgb(7, 7, 7);
    z-index: 2;
}
.course_title{
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.9rem;
}
.rating{
    color:orange;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 7px;
    display: inline-block;
}
.star{
    color: orange;
    display: inline-block;
}
.ratings_count_button{
    color:#cec0fc;
    display: inline-block;
    margin-left: 7px;
    background-color: rgba(0, 0, 0, 0.0);
    font-size: 0.9rem;
    border: 0px
}
.students_count{
    color:white;
    display: inline-block;
    margin-left: 9px;
    font-size: 0.9rem;
}